<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="../javascript/script.js" defer></script>

    <title>Página Inicial</title>
 </head>

 <body>
  <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

    
    <a class="mr-auto my-0 linkPrincipal" href="/index">
      <h5 class="mr-2 " id="tituloColor">CONTROLE</h5>
      <h5 class=""> de Estudantes</h5>
      </a>
  
    <nav class="my-2 my-md-0 mr-md-3">
        <strong>Cadastrar:</strong>
        <a class="p-2 text-dark" href="/cdAlunos">Alunos</a>
        |
        <a class="p-2 text-dark" href="/cdSala">Sala</a>
    </nav>
  </header>


  <main>
      <form action="/" method="post" class="forms">
        Salas de aula:
        <select class="drops" onchange="this.form.submit()" name="nome">
          <option hidden>Selecionar</option>

          <% for (let i=0; i<salas.length; i++) { %>
            <option value='<%= salas[i].IDSala %>' <%= id == salas[i].IDSala ? 'selected' : ''%>> <%= salas[i].Nome %> </option>
          <% } %>
        </select>
        
        <a href="/editarSala/<%= id %>" class="btn" <%= !id? 'hidden' : '' %>>Editar Sala</a>
      </form>
      
      <p <%= !id? 'hidden' : '' %> style="margin-left: 1%"> Ocupação: 
        <% for (let i=0; i<salas.length; i++) { %>
          <% if (id == salas[i].IDSala) { %>
            <% for (let j=0; j<alunos.length; j++) { %>
              <% if (j+1 == alunos.length) { %>
                <%= j+1 %> / <%= salas[i].Capacidade %> 
              <% } %>
            <% } %>
          <% } %>
        <% } %>
      </p>

      <div class="album py-5">
        <div class="container">

          <h1>Alunos</h1>

          <div class="row">
            <% for (let i=0; i<alunos.length; i++) { %>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img class="card-img-top" src="imagens/<%= alunos[i].Foto %>" style="height: 225px; width: 100%; display: block;" alt="Foto do aluno">
                  <div class="card-body">
                    <h5 class="card-title"><%= alunos[i].Nome %></h5>
                    <p class="card-text">Idade: <%= alunos[i].Idade %></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <form action="/editarAluno/<%= alunos[i].IDAluno %>" method="get">
                          <button type="submit" class="btn btn-secondary">Editar</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 </body>

 <footer>

 </footer>
</html>